.asos-footer {
    background-color: #f5f5f5;
    color: grey;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-left:110px;
    size: 10px;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul a:hover{
    color: rgb(55, 55, 216);
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #333;
  }
  
  .shopping-from {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .country-flags{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
  }
  
  .country-flags svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    gap: 20px;
  }
  
  .flag-icons svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
   
  }
  
  

